<!-- FORGOT PASSWORD FORM -->
<div class="col-md-6 col-md-offset-3" style="padding:50px 0" >
	<h3>Reset password</h3>
	<!-- Main Form -->
	<div class="login-form-1">
		<form name="fpForm" novalidate #fpForm="ngForm">
			<div class="etc-login-form">
				<p>Please enter the following fields to reset the password.</p>
			</div>	  
      <div class="form-group">
        <label class="sr-only" for="form-Password">Password</label>
        <input type="password" name="password" placeholder="Password..." class="form-control" [(ngModel)]="user.password" #password="ngModel"
          minlength="6" required>
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">
          <span [hidden]="!password.errors.required">Please enter password.</span>
          <span [hidden]="!password.errors.minlength">Password should be more than 6 characters.</span>
        </div>
      </div>
      <div  class="form-group">
        <label class="sr-only" for="form-Password">confirm-Password</label>
        <input type="password" name="cnfpassword" placeholder="Confirm Password..." class="form-control" [(ngModel)]="user.cnfpassword" #cnfpassword="ngModel"
          minlength="6" required>
        <div *ngIf="cnfpassword.errors && (cnfpassword.dirty || cnfpassword.touched)" class="error">
          <span [hidden]="!cnfpassword.errors.required">Please enter Confirm password.</span>
          <span [hidden]="!cnfpassword.errors.minlength">Confirm Password should be more than 6 characters.</span>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="!fpForm.form.valid" (click)=resetPassword(user)>Submit </button>
			<div class="etc-login-form">
				<p>already have an account? <a [routerLink]="['']">login here</a></p>
				<!--<p>new user? <a [routerLink]="['register']">create new account</a></p>-->
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
